<div class="mdc-layout-grid">
  <div class="header-wrapper">
    <div class="mdc-layout-grid__cell
    mdc-layout-grid__cell--span-4 cosmetic-tattoo-header">
      <div class="title-card"><img src="../../assets/images/cosmetic.png" /></div>
    </div>
  </div>

  <div class="service-wrapper">
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-2">
        <h4>Cosmetic Tattoo</h4>
        <ul>
          <li>Prev</li>
          <li>Next</li>
        </ul>
      </div>
      
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-2">
       <p>This is a private studio, individual appointments allow the client’s needs to be honored in a more comfortable atmosphere. The intention of my crafts are to facilitate healing and self expression with the highest standards and commitment to each individual.</p>
    </div>
    
  </div>
</div>