<div class="mdc-layout-grid">
  <div class="mdc-layout-grid__inner">
    <div class="mdc-layout-grid__cell
    mdc-layout-grid__cell--span-12
    service-header cosmetic-tattoo-header">
      <p>
        This is a private studio, individual appointments 
        allow the client’s needs to be honored in a more 
        comfortable atmosphere. The intention of my crafts 
        are to facilitate healing and self expression with 
        the highest standards and commitment to each individual.
      </p>
      <caption>CLICK A CARD BELOW</caption>
    </div>
  </div>
</div>
<div class="cards-wrapper">
    <ul class="cards-stacked">
      <li class="card-1"><a href="" [routerLink]="['../services/custom']">
        <img src="../../assets/images/custom.png" /></a></li>
      <li class="card-2"><a href="" [routerLink]="['../services/chinese']">
        <img src="../../assets/images/chinese.png" /></a></li>
      <li class="card-3"><a href="" [routerLink]="['../services/cosmetic']">
        <img src="../../assets/images/cosmetic.png" /></a></li>
    </ul>
    
</div>